body{
    height: 100ch;
    display: flex;
    justify-content: center;
}
#board{
    width: 600px;
    height: 600px;
    background: lightblue;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.square{
    width: 200px;
    height: 200px;
    background: red;
    border: 1px solid;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.square:hover{
    background: lightpink;
    cursor: pointer;
}
